$sidebarHeight:70px;
$bgColor:#242424;
$menuItem:#282c30;
$navbar:220px;
$shrinkNavbar:64px;
$navbarHeight: calc(100% - #{$sidebarHeight});
$navbarWidth: calc(100% - #{$navbar});
$shrinkNavbarWidth: calc(100% - #{$shrinkNavbar});
$baseMainWidth: 1279px;
$textColor:#fff;

body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    color: #000000;
    background: $textColor;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #BA2636;
    text-decoration: underline;
}

.el-menu {
    border-right: none;
}
.el-menu-item {
    line-height: 56px;
}
.el-submenu .el-menu-item  {
    background-color: #2a2f33 !important;
}
.el-submenu .el-menu-item:hover  {
    background-color: #15181b !important;
}
:export {
    bgColor: $bgColor;
    navbar: $navbar;
    shrinkNavbar: $shrinkNavbar;
    textColor: $textColor;
    menuItem:$menuItem;
    shrinkNavbarWidth:$shrinkNavbarWidth;
}