$sidebarHeight: 70px;
$bgColor: #242424;
$menuItem: #282c30;
$navbar: 220px;
//框架默认主题色
$base-color-default: #1890ff;
$login-color-default: #2d3a4b;
$shrinkNavbar: 64px;
$navbarHeight: calc(100% - #{$sidebarHeight});
$navbarWidth: calc(100% - #{$navbar});
$shrinkNavbarWidth: calc(100% - #{$shrinkNavbar});
$baseMainWidth: 1279px;
$textColor: #fff;
//顶部多标签页tags-bar的高度
$base-tags-bar-height: 55px;
$base-color-white: #fff;
$base-border-color: #dcdfe6;
//默认paddiing
$base-padding: 20px;
$base-margin: 20px;
//顶部多标签页tags-bar中每一个item的高度
$base-tag-item-height: 34px;
$base-border-radius: 2px;
$base-color-blue: $base-color-default;
//默认层级
$base-z-index: 999;
$tag-view-more: 100px;
$tag-view-tag-width: calc(100% - #{$tag-view-more});
//菜单li标签的高度
body,
div,
ul,
ol,
dl,
dt,
dd,
li,
dl,
h1,
h2,
h3,
h4 {
    margin: 0;
    padding: 0;
    font-style: normal;
}

ol,
ul,
li {
    list-style: none;
}

img {
    border: 0;
    vertical-align: middle;
}

body {
    color: #000000;
    background: $textColor;
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
    height: 1px;
    width: 100%;
    overflow: hidden;
    margin-top: -1px;
}

a {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #ba2636;
    text-decoration: underline;
}

.el-menu {
    border-right: none;
}

.el-menu-item {
    line-height: 56px;
}

.el-submenu .el-menu-item {
    background-color: #2a2f33 !important;
}

.el-submenu .el-menu-item:hover {
    background-color: #15181b !important;
}

/*隐藏文字*/
.el-menu--collapse .el-submenu__title span {
    display: none;
}

/*隐藏 > */
.el-menu--collapse .el-submenu__title .el-submenu__icon-arrow {
    display: none;
}

:focus {
    outline: 0;
}

// 弹性布局
.dfac {
    display: flex;
    align-items: center;
}
.dfacjsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
:export {
    bgColor: $bgColor;
    navbar: $navbar;
    shrinkNavbar: $shrinkNavbar;
    textColor: $textColor;
    menuItem: $menuItem;
    shrinkNavbarWidth: $shrinkNavbarWidth;
}
